{{> header}}

<h1>{{title}}</h1>


<form action="/computer" method="post">
<label for="computer">Computer name:</label>
<input type="text" name="cname">
<input type="submit" value="Submit">
</form>

{{> footer}}